# Logs
Logs
logs
*.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
smart-memo-tailwind/node_modules

# Build output
smart-memo-tailwind/dist
smart-memo-tailwind/dist-ssr
smart-memo-tailwind/dist_electron

# Local files
node_modules
dist
dist-ssr
dist_electron
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
